:root {
    --white: #fff;
    --black: #000;
    --green: #7CB508;
}


body {
    background-color: var(--black);
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.header-nav-wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-top: 22px;
    padding-bottom: 101px;
}

.logo a {
    color: var(--white);
    font-family: "Whisper", cursive;
    font-size: 35px;
    font-weight: 400;
}

.header-nav {
    margin-left: 140px;
}

.header-nav ul {
    display: flex;
    align-items: center;
    gap: 93px;
    margin: 0 auto;
}

.header-nav a {
    color: var(--white);
}

.social {
    display: flex;
    align-items: center;
    gap: 40px;
}

.social a {
    color: var(--white);
}

.bg-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
}

.title-main {
    font-family: "Whisper", cursive;
    font-size: 200px;
    font-weight: 400;
    color: var(--white);
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    padding-bottom: 318px;
}

.info-flex{
    text-align: center;
}

.title-info{
    font-size: 30px;
}

.text-info{
    font-size: 22px;
}

.button-info{
    width: 200px;
    background-color: var(--green);
    padding: 6px 0;
    margin-top: 34px;
}

.card-flex{
    width: 133px;
    border: 1px solid var(--green);
    text-align: center;
    padding: 27px 0;
    margin-bottom: 24px;
}

.text-card{
    font-size: 30px;
    color: var(--green);
}

.section_2{
    margin-bottom: 58px;
}

.title{
    color: var(--white);
    text-align: center;
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--white);
}


.info-about{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: var(--white);
    justify-content: space-between;
}

.info-about_text{
    width: 540px;
}

.info-about_bg{
    font-size: 200px;
    font-family: "Whisper", cursive;
    color: rgba(124, 181, 8, 0.3);

}

.cards-about{
    padding: 70px 0;
}

.card-about{
    display: flex;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    gap: 49px;
}

.card-about-inner{
    min-width: 133px;
    border: 1px solid var(--green);
    text-align: center;
    padding: 27px 0;
    margin-bottom: 24px;
    background: rgba(0, 0, 0, 0.3);
}

.info-card{
    color: var(--white);
}

.card-about-info{
    color: var(--white);
    font-size: 22px;
}